@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<b><h1>Welcome to Aarhus web developers </h1></b>
	<img src="/media/1003/webpage.png" alt="">
@Umbraco.RenderMacro("projects")
